<template>
  <div>
    <div class="card">
      <div class="card-body">
        <div class="card-title d-flex justify-content-between align-items-center">
          <h3>Popup #{{name}}</h3>
          <span class="text-success" v-if="active">Active</span>
        </div>

        <small
          v-if="this.active && this.nextDate >= new Date()"
          class="text-muted d-inline-block mb-3"
        >
          <span class="text-danger">Won't trigger until:</span>
          {{this.nextDate.toLocaleString()}}
        </small>

        <form @change="saveConfiguration">
          <div class="form-group">
            <label class="form-label">
              <input type="checkbox" v-model="showAfterSecondsToggle" :disabled="active" />
              Show after seconds:
            </label>
            <input
              v-if="showAfterSecondsToggle"
              :disabled="active"
              type="number"
              class="form-control"
              min="0"
              v-model="showAfterSecondsInput"
            />
          </div>
          <div class="form-group">
            <label class="form-label">
              <input type="checkbox" v-model="showAfterScrollingToggle" :disabled="active" />
              Show after scrolling:
            </label>
            <input
              v-if="showAfterScrollingToggle"
              :disabled="active"
              type="number"
              class="form-control"
              min="0"
              max="100"
              v-model="showAfterScrollingInput"
            />
            <small
              class="text-muted"
              v-if="showAfterScrollingToggle"
            >Percentage to scroll after which the popup will appear</small>
          </div>
          <div class="form-check-inline mb-3">
            <label class="form-check-label">
              <input
                :disabled="active"
                type="checkbox"
                class="form-check-input"
                v-model="showOnExitIntent"
              />Show on exit intent:
            </label>
          </div>
          <div class="form-group" v-show="showOnExitIntent">
            <label class="form-label">Delay (seconds):</label>
            <input
              :disabled="active"
              type="number"
              class="form-control"
              min="0"
              v-model.number="exitIntentDelay"
            />
          </div>
          <hr />
          <div class="form-group">
            <label class="form-label">
              <input :disabled="active" type="checkbox" v-model="displayFrequencyToggle" />
              Show every (days):
            </label>
            <input
              v-if="displayFrequencyToggle"
              :disabled="active"
              type="number"
              class="form-control"
              min="0"
              v-model.number="displayFrequencyInput"
            />
          </div>

          <b-button
            v-if="active"
            class="mt-2"
            :pressed.sync="active"
            @click="saveConfiguration"
            block
          >Deactivate</b-button>
          <b-button
            v-else
            class="mt-2"
            :pressed.sync="active"
            variant="primary"
            @click="saveConfiguration"
            block
          >Activate</b-button>
        </form>
      </div>
    </div>

    <PopUp
      v-if="active"
      :name="name"
      :show-after-seconds="showAfterSeconds"
      :show-after-scrolling="showAfterScrolling"
      :show-on-exit-intent="showOnExitIntent"
      :exit-intent-delay="exitIntentDelay"
      :display-frequency-in-days="displayFrequencyInDays"
      @activated="nextDate = $event.nextDate"
      @hidden="nextDate = $event.nextDate"
      v-slot="popupControls"
    >
      <ShowcaseContent
        :popup-controls="popupControls"
        :name="'#' + name"
      >Content of the popup #{{name}}</ShowcaseContent>
    </PopUp>
  </div>
</template>

<script>
import PopUp from "./PopUp";
import ShowcaseContent from "./ShowcaseContent";
export default {
  components: {
    PopUp,
    ShowcaseContent
  },
  props: ["name"],
  data() {
    return {
      active: false,
      showAfterSecondsToggle: false,
      showAfterSecondsInput: 2,
      showAfterScrollingToggle: false,
      showAfterScrollingInput: 50,
      showOnExitIntent: false,
      exitIntentDelay: 0,
      displayFrequencyToggle: false,
      displayFrequencyInput: 0,
      nextDate: new Date()
    };
  },
  computed: {
    showAfterSeconds() {
      return !this.showAfterSecondsToggle
        ? null
        : this.toNumberOrNull(this.showAfterSecondsInput);
    },
    showAfterScrolling() {
      return !this.showAfterScrollingToggle
        ? null
        : this.toNumberOrNull(this.showAfterScrollingInput);
    },
    displayFrequencyInDays() {
      return !this.displayFrequencyToggle ? 0 : this.displayFrequencyInput;
    }
  },
  methods: {
    toNumberOrNull(n) {
      let isNumber = n => !isNaN(parseInt(n)) && !isNaN(n - 0);
      return isNumber(n) && n >= 0 ? parseInt(n) : null;
    },
    saveConfiguration() {
      localStorage["popup_control_panel_" + this.name] = JSON.stringify(
        this.$data
      );
    },
    loadConfiguration() {
      let savedData = localStorage["popup_control_panel_" + this.name];

      if (savedData) {
        Object.assign(this.$data, JSON.parse(savedData));
      }
    }
  },
  mounted() {
    this.loadConfiguration();
  }
};
</script>

<style>
</style>