<template>
  <div>
    <transition name="fade">
      <div v-if="popupShowing" class="backdrop" @click.self="hide()"></div>
    </transition>

    <transition name="slide" v-bind="$attrs" v-on="$listeners">
      <div
        v-if="popupShowing"
        ref="dialog"
        class="popup-dialog"
        tabindex="0"
        role="dialog"
        @keydown.esc="hide()"
      >
        <slot :hide="this.hide" :show="this.show" :getNextDate="this.getReactivationDate">
          <div class="default-popup">
            <h1>Popup content</h1>
            <p>
              Please provide your popup content by using a
              <strong>slot</strong> on this componenet
            </p>
            <button @click="hide()">Close</button>
          </div>
        </slot>
      </div>
    </transition>
  </div>
</template>

<script>
function clamp(num, min, max) {
  return num <= min ? min : num >= max ? max : num;
}

function getCurrentScroll() {
  let h = document.documentElement,
    b = document.body,
    st = "scrollTop",
    sh = "scrollHeight";
  return clamp(
    ((h[st] || b[st]) / ((h[sh] || b[sh]) - h.clientHeight)) * 100,
    0,
    100
  );
}

function addDays(date, days) {
  let newDate = new Date(date);
  newDate.setDate(date.getDate() + days);
  return newDate;
}

function hashCode(s) {
  var hash = 0,
    i,
    chr;
  for (i = 0; i < s.length; i++) {
    chr = s.charCodeAt(i);
    hash = (hash << 5) - hash + chr;
    hash |= 0; // Convert to 32bit integer
  }
  return hash;
}

export default {
  props: {
    name: {
      type: String,
      required: false,
      default: null
    },
    showAfterSeconds: {
      type: Number,
      required: false,
      default: null
    },
    showAfterScrolling: {
      type: Number,
      required: false,
      default: null
    },
    showOnExitIntent: {
      type: Boolean,
      required: false,
      default: false
    },
    exitIntentDelay: {
      type: Number,
      required: false,
      default: 0
    },
    mobileScrollThreshold: {
      type: Number,
      required: false,
      default: 7
    },
    displayFrequencyInDays: {
      type: Number,
      required: false,
      default: null
    }
  },
  data() {
    return {
      popupShowing: false,
      hasBeenShownInCurrentVisit: false,
      isMobile: false,
      maxScroll: 0
    };
  },
  computed: {
    key: function() {
      let uid =
        this.name ||
        hashCode(JSON.stringify(this.$props) + JSON.stringify(this.$slots));
      return "popup_" + uid;
    }
  },
  methods: {
    show() {
      if (!this.hasBeenShownInCurrentVisit && this.checkEnoughDaysPassed()) {
        this.popupShowing = true;
        this.$emit("shown");
        this.$nextTick(function() {
          this.$refs.dialog.focus();
        });
      }
    },
    hide() {
      this.popupShowing = false;
      this.hasBeenShownInCurrentVisit = true;
      this.savePopupShownDate();
      this.$emit("hidden", { nextDate: this.getReactivationDate() });
    },
    handleScroll() {
      let currentScroll = getCurrentScroll();

      if (this.isMobile) {
        if (currentScroll > this.maxScroll) this.maxScroll = currentScroll;
        else if (currentScroll + this.mobileScrollThreshold <= this.maxScroll)
          this.show();
      }

      if (this.showAfterScrolling && currentScroll >= this.showAfterScrolling) {
        this.show();
      }
    },
    handleMouseOut(evt) {
      if (evt.relatedTarget === null) this.show();
    },
    detectMobile() {
      // Additional filtering (besides touch which is in use)
      // - Check User agent (https://stackoverflow.com/questions/11381673/detecting-a-mobile-browser, http://detectmobilebrowsers.com/)
      // - Check Max width
      // - Check window's inner height (changes when bar is shown, just not consistently)
      this.isMobile = true;
    },
    savePopupShownDate() {
      localStorage.setItem(this.key, new Date());
    },
    getReactivationDate() {
      let lastShownDate = new Date(localStorage.getItem(this.key));
      return addDays(lastShownDate, this.displayFrequencyInDays);
    },
    checkEnoughDaysPassed() {
      return this.getReactivationDate() <= new Date();
    }
  },
  mounted() {
    if (this.showAfterSeconds != null) {
      setTimeout(this.show, this.showAfterSeconds * 1000);
    }

    if (this.showAfterScrolling != null || this.showOnExitIntent) {
      window.addEventListener("scroll", this.handleScroll, { passive: true });
    }

    if (this.showOnExitIntent) {
      setTimeout(() => {
        window.addEventListener("mouseout", this.handleMouseOut);
        window.addEventListener("touchstart", this.detectMobile, {
          once: true
        });
      }, this.exitIntentDelay * 1000);
    }

    this.$emit("activated", { nextDate: this.getReactivationDate() });
  },
  beforeDestroy() {
    // Don't check if registered, removeEventListener has no effect anyway
    window.removeEventListener("scroll", this.handleScroll, { passive: true });
    window.removeEventListener("mouseout", this.handleMouseOut);
    window.removeEventListener("touchstart", this.detectMobile, { once: true });
  }
};
</script>

<style scoped>
.popup-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;

  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000088;
  z-index: 1;
}

.default-popup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: white;
  padding: 3rem;
  width: 450px;
  height: 550px;
  max-width: 95vw;
  border-radius: 0.6rem;
  box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.5);
}

button {
  padding: 8px 16px;
  background-color: #5850eb;
  border-radius: 6px;
  color: white;
  border: none;
}

button:hover {
  filter: brightness(105%);
}

button:active {
  filter: brightness(90%);
}

/* Transitions */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: transform 0.3s ease-in-out;
}
.slide-enter,
.slide-leave-to {
  transform: translateY(calc(50vh + 50%));
}
</style>