<template>
  <div class="tile-container">
    <div v-for="i in count" :key="i" class="tile" :style="{'background-color': colors[i%5]}">{{i}}</div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      colors: ["#2A2641", "#5EA791", "#F9EC98", "#EFB48D", "#EA9371"]
    };
  },
  props: {
    count: {
      type: Number,
      required: false,
      default: 10
    }
  }
};
</script>

<style>
.tile {
  padding: 2rem;
  text-align: center;
  min-height: 24rem;
  font-size: 12rem;
  color: white;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}
</style>