<template>
  <div class="showcase-popup">
    <h1>Popup content {{name}}</h1>
    <p>
      <slot>Please provide your popup content by using a slot on this componenet</slot>
    </p>
    <button @click="popupControls.hide()">Close</button>
  </div>
</template>

<script>
export default {
  props: ["name", "content", "popupControls"]
};
</script>

<style scoped>
.showcase-popup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: white;
  padding: 3rem;
  width: 450px;
  height: 550px;
  max-width: 95vw;
  border-radius: 0.6rem;
  box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.5);
}

button {
  padding: 8px 16px;
  background-color: #5850eb;
  border-radius: 6px;
  color: white;
  border: none;
}

button:hover {
  filter: brightness(105%);
}

button:active {
  filter: brightness(90%);
}
</style>