<template>
  <div id="app" class="container my-3">
    <h1 class="display-4">Showcase Popup Demo</h1>
    <p class="lead">Test the popup component in real time.</p>

    <div class="row">
      <div v-for="i in popUpCount" :key="i" class="col-sm-12 col-md-6 col-lg-4 my-4">
        <ControlPanelPopUp :name="i.toString()"></ControlPanelPopUp>
      </div>
    </div>
    <p class="small text-muted mb-5">Deactivate and reactivate a popup to test a new config.</p>

    <h1 class="font-weight-light mb-3">Scroll area</h1>
    <ScrollingTiles></ScrollingTiles>
  </div>
</template>

<script>
import ControlPanelPopUp from "./components/ControlPanelPopUp";
import ScrollingTiles from "./components/ScrollingTiles";

export default {
  name: "App",
  components: {
    ScrollingTiles,
    ControlPanelPopUp
  },
  data() {
    return {
      popUpCount: 3
    };
  }
};
</script>

<style>
</style>
